.carousel-home{
    padding: 0;
    width: 100%;
    margin: 0 auto;
    
}
.site-layout-background-main-home{
    padding: 24;
    min-height: 38rem;
    width: 93%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin:0 auto;
    background: #fff;

}

#myBtn {
    background-color: #EB7100;
    padding: 5px;
    position: fixed;
    z-index: 1000;
    top: 19vh;
    right: 3vh;
    border: 8px solid white;
    justify-content: center;
    border-radius: 50px;
    width: 60px;
    
  }
  .row-food-home{
      width: 100%;
     
  }


  