.header-main{
    /* position: fixed;
    z-index: 1;
    width: 100%;
    vertical-align: center; */
   
}
.logo-main{
    width: 9%;
    float: left;
}
.menu-main{
    width: 70%;
    float: left;
}
.search-main{
    width: 15%;
    margin-top: 20px;
    
}