.container-main-product{
    width: 95%;
    margin: 0 auto;
    background: #ffffff;
    
} 
.container-main-product .ant-row{
    margin: 30px;
}
.menu-food-col{
    padding-right: 10px;
}
.row-food-all{
    /* margin: 0; */
    background:#eeeeee;
}
.name-cate-food{
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.875rem;
}
.btn-see-more{
    background: none ;
    border: none;
    color:black;
}
.row-show-cart{
    margin: 0;
    /* background-color: #eeeeee; */
   
    border-radius: 4px;
    padding: 12px;
}
.row-show-cart .ant-row{
    margin: 10px 0 0 0 ;

}
.row-price-cart{
    background-color: tomato;
}

.col-product-item {
    /* box-sizing: content-box; */
    /* border: 1px red solid; */
    /* margin: 1px; */

}

.product-item-wrap {
    border-radius: 6px;
    overflow: hidden;
    margin: 5px;
}

.product-item-wrap:hover{
    transition:  transform linear 0.1s;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
}
.row-header-product-item{
    
    height: 15rem;
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.row-bot-product-item{
    padding: 12px 12px 8px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    display: flex !important;
    flex-direction: column !important;
    min-height: 10.5rem !important;
}

.span-product-name-item{
    text-transform: uppercase;
    color: rgb(22, 22, 29);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.33rem;
    overflow: hidden;
    height: 2.5rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.cart__header{
    background-color: #eeeeee;
    /* text-align: center; */
    padding: 0 10px ;
    height: 4.5rem;
    align-items: center;
    color: rgba(0, 0, 0);
}